#info {
  color: #d3d6dd;
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  overflow: hidden;

  .bg {
    width: 100%;
    height: 100%;
    padding: 16px 16px 0 16px;
    background-image: url("../../assets/pageBg.png");
    background-size: cover;
    background-position: center center;
  }

  .info-body {
    .body-box {
      margin-top: 16px;
      display: flex;
      flex-direction: column;

      //顶部区域的布局
      .top-box {
        flex: 1;
        display: grid; //网格布局可以使datav的组件自适应？？
      }

      // 底部
      .content-box {
        flex: 4;
        margin-top: 10px;
        display: flex;
        flex-direction: row;

        .left-box {
          flex: 1;
          display: grid;
        }

        .mid-box {
          flex: 1;
          display: grid;
          grid-template-rows: repeat(2, 50%);
        }

        .right-box {
          flex: 1;
          //margin-left: 10px;
          display: grid;
        }

      }
    }
  }

}
