#rank {
  color: #d3d6dd;
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  overflow: hidden;

  .bg {
    width: 100%;
    height: 100%;
    padding: 16px 16px 0 16px;
    background-image: url("../../assets/pageBg.png");
    background-size: cover;
    background-position: center center;
  }

  .rank-body {
    .body-box {
      margin-top: 16px;
      display: flex;
      flex-direction: row;

      //左侧区域的布局
      .left-box {
        flex: 1;
      }
      .mid-box {
        flex: 1;
        margin-left: 10px;
      }

      // 右侧区域的布局
      .right-box {
        flex: 1;
        margin-left: 10px;
      }
    }
  }

}
